body
{
    background-color: black;
    color: wheat;
}

h2 {
    font-size: 24px;
    color: wheat;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}